body {
  font-family: sans-serif;
  padding: 20px;
}
.line {
  display: flex;
  align-items: center;
  margin: 4px 0;
}
.input {
  outline: none;
  width: 100%;
}
.indent {
  margin-left: 20px;
}
.toggle {
  cursor: pointer;
  user-select: none;
  margin-right: 4px;
}
.active {
  background-color: rgba(142, 221, 241, 0.404);
}
